@media (max-width: 1440px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
  .hero-tt {
    display: none;
  }
  .hero-uu {
    display: none;
  }
  .hero-y {
    display: none;
  }
}
@media (max-width: 1200px) {
  .hero-nav {
    left: 655px;
    bottom: 705px;
  }
  .companion-nav {
    left: 41px;
  }
  .hero-text {
    left: 69px;
    top: 246px;
    font-size: 26px;
  }
  .hero-nav2 {
    left: 87px;
    top: 260px;
  }
  .hero-rr {
    top: 637px;
    width: 585px;
    height: 380px;
  }
  .hero-pp {
    left: 1045px;
    top: 811px;
  }
  .about-nav {
    flex-wrap: wrap;
    top: 340px;
    left: 42px;
  }
  .i-img {
    width: 707px;
    height: 400px;
  }
  .ll {
    top: 3428px;
    left: 90px;
  }
  .luxx {
    width: 1157px;
    height: 500px;
    flex-shrink: 0;
  }
  .partnior-1 {
    left: 674px;
    top: 200px;
  }
  .partnior-2 {
    left: 674px;
    top: 200px;
  }

  .footer {
    width: 1158px;
    height: 212px;
  }
  .footer-end {
    width: 1158px;
    height: 160px;
  }

  .her5 h1 {
    font-size: 16px;
    width: 216px;
  }
  .img-blocs {
    flex-wrap: wrap;
  }
  .partnior {
    width: 1137px;
    height: 260px;
  }
}
@media (max-width: 1024px) {
  .hero-nav {
    left: 563px;
    bottom: 638px;
  }
  .hero-text {
    left: 9px;
    top: 201px;
    font-size: 26px;
  }
  .hero-nav2 {
    left: -18px;
    top: 227px;
  }
  .hero-pp {
    left: 907px;
    top: 761px;
  }
  .about-text {
    top: 146px;
    left: 84px;
  }
  .hero-rr {
    top: 526px;
    width: 409px;
    height: 362px;
  }
  .about-nav {
    top: 336px;
    left: 9px;
  }
  .about-nav {
    flex-wrap: wrap;
  }
  .about-nav button {
    top: 223px;
    right: 520px;
    font-size: 14px;
    width: 149px;
    height: 56px;
  }
  .about-card {
    margin: 32px;
    flex-wrap: wrap;
  }
  .i-img1 {
    left: 619px;
    width: 40px;
    height: 40px;
  }
  .img-bloc {
    flex-wrap: wrap;
  }
  .img-blocs {
    flex-wrap: wrap;
  }
  .ll {
    top: 4241px;
    left: 11px;
  }
  .luxx {
    width: 986px;
    height: 500px;
    flex-shrink: 0;
  }
  .partnior-1 {
    left: 12px;
  }
  .partnior-2 {
    left: 11px;
  }
  .partnior {
    width: 807px;
    height: 451px;
  }
  .footer {
    width: 984px;
    height: 212px;
  }
  .footer-end {
    width: 985px;
    height: 160px;
  }
  .client {
    flex-wrap: wrap;
  }
}
@media (max-width: 992px) {
  .about-nav {
    /* top: 336px;
    left: -114px; */
    flex-wrap: wrap;
  }
  .luxx {
    width: 956px;
    height: 500px;
  }
  .about-nav {
    top: 336px;
    left: -13px;
  }
  .ll {
    flex-direction: column;
    top: 3911px;
    left: 165px;
  }
  .partnior-1 {
    left: 24px;
  }
  .partnior {
    flex-direction: column;
    width: 740px;
    height: 460px;
  }
  .footer {
    width: 956px;
    height: 212px;
  }
  .footer-end {
    width: 955px;
    height: 160px;
  }
}
@media (max-width: 768px) {
  .hero-nav {
    left: 315px;
    bottom: 573px;
    width: 129.634px;
    height: 81.564px;
    flex-shrink: 0;
  }
  .hero-pp {
    left: 656px;
    top: 553px;
  }
  .about-card {
    margin: -1px;
    flex-wrap: wrap;
  }
  .about-text {
    top: 140px;
    left: 4px;
  }
  .header-a a {
    display: none;
  }
  .hero-text {
    left: 9px;
    top: 147px;
    font-size: 21px;
  }
  .hero-text button {
    padding: 10px;
    width: 175px;
    height: 52px;
    font-size: 14px;
  }
  .hero-nav2 {
    left: -58px;
    top: 147px;
    width: 129.634px;
    height: 81.564px;
    flex-shrink: 0;
  }
  .about-text p {
    width: 731px;
    font-size: 18px;
  }
  .about-nav button {
    top: 233px;
    right: 520px;
    font-size: 14px;
    width: 149px;
    height: 56px;
  }

  .luxx {
    width: 738px;
    height: 500px;
  }
  .ll {
    flex-direction: column;
    top: 3738px;
    left: 105px;
  }
  .lux-text img {
    width: 458px;
    height: 68.036px;
  }
  .partnior-1 {
    left: 256px;
  }
  .partnior-2 {
    left: 254px;
  }
  .footer {
    flex-wrap: wrap;
    width: 739px;
    height: 212px;
  }
  .footer-end {
    flex-wrap: wrap;
    width: 738px;
    height: 160px;
  }

  .about-nav {
    flex-wrap: wrap;
    width: 652px;
    height: 200px;
  }
}
@media (max-width: 576px) {
  .hero-nav img {
    width: 216.6341px;
    height: 166.564px;
  }
  .hero-nav2 img {
    width: 318.634px;
    height: 206.564px;
    flex-shrink: 0;
  }
  .hero-nav {
    left: 208px;
    bottom: 561px;
    width: 107.63399999999999px;
    height: 81.564px;
    flex-shrink: 0;
  }
  .hero-text {
    width: 333px;
    height: 133px;
    flex-shrink: 0;
    left: -1px;
    top: 147px;
    font-size: 18px;
  }
  .hero-text button {
    padding: 10px;
    width: 143px;
    height: 41px;
    font-size: 12px;
  }
  .header-svg {
    display: none;
  }
  .header-titl {
    display: none;
  }
  .jj {
    left: 346px;
    bottom: -8px;
  }
  .hkk {
    left: 346px;
    bottom: -4px;
    height: 40px;
    width: 88px;
  }
  .hero-pp {
    left: 362px;
    top: 553px;
  }
  .about-text p {
    width: 434px;
    font-size: 14px;
  }
  .about-text {
    top: 37px;
    left: 4px;
  }
  .about-nav {
    flex-wrap: wrap;
    width: 427px;
    height: 200px;
  }
  .about-nav {
    top: 196px;
    left: -13px;
  }
  .about-nav button {
    top: 364px;
    right: 239px;
    font-size: 14px;
    width: 149px;
    height: 56px;
  }
  .i-img {
    width: 446px;
    height: 400px;
  }
  .i-img1 {
    left: 359px;
    width: 40px;
    height: 40px;
  }
  .luxx {
    width: 432px;
    height: 525px;
  }
  .ll {
    flex-direction: column;
    top: 3767px;
    left: -12px;
  }
  .lo button {
    width: 182px;
    height: 50px;
    font-size: 16px;
  }
  .i-img55 {
    left: 310px;
  }
  .partnior {
    flex-direction: column;
    width: 398px;
    height: 550px;
  }
  .partnior-1 {
    left: -49px;
    top: 300px;
    width: 455px;
    height: 550px;
  }
  .partnior-2 {
    left: -10px;
    top: 297px;
  }

  .footer {
    flex-wrap: wrap;
    width: 433px;
    height: 434px;
  }
  .footer-end {
    flex-wrap: wrap;
    width: 431px;
    height: 160px;
  }
  .her5 {
    position: relative;
    bottom: 100px;
    left: 3px;
  }
  .her3 {
    position: relative;
    bottom: 99px;
    left: -2px;
  }
  .her4 {
    position: relative;
    bottom: 100px;
    left: -3px;
  }
}
@media (max-width: 451px) {
  .hkk {
    left: 315px;
    bottom: 19px;
    height: 40px;
    width: 88px;
  }
  .jj {
    left: 317px;
    bottom: 13px;
  }
  .hero-nav {
    left: 190px;
    bottom: 573px;
  }
  .hero-nav img {
    width: 260.634px;
    height: 166.564px;
  }
  .hero-pp {
    left: 353px;
    top: 553px;
  }
  .about-text p {
    width: 426px;
    font-size: 15px;
  }
  .about-nav {
    flex-wrap: wrap;
    width: 320px;
    height: 200px;
  }
  .about-nav button {
    top: 364px;
    right: 162px;
    font-size: 14px;
    width: 149px;
    height: 56px;
  }
  .i-img {
    width: 437px;
    height: 400px;
  }
  .i-img1 {
    left: 353px;
    width: 40px;
    height: 40px;
  }
  .tt {
    width: 435px;
    height: 379px;
    flex-shrink: 0;
  }
  .i-img3 {
    width: 431px;
    height: 400px;
  }
  .i-img4 {
    width: 432px;
    height: 400px;
  }
  .i-img5 {
    width: 432px;
    height: 400px;
  }
  .i-img2 {
    position: absolute;
    left: 360px;
  }
  .i-img33 {
    position: absolute;
    left: 340px;
  }
  .i-img44 {
    position: absolute;
    left: 334px;
  }
  .luxx {
    width: 427px;
    height: 565px;
  }
  .ll {
    flex-direction: column;
    top: 3849px;
    left: 19px;
  }
  .lux-text img {
    width: 409px;
    height: 76.036px;
  }

  .partnior-1 {
    left: 0px;
    top: 353px;
  }
  .partnior-1 {
    left: -5px;
    top: 353px;
    width: 310px;
    height: 491px;
  }
  .partnior-1 img {
    left: -8px;
    top: 322px;
    width: 430px;
    height: 209px;
    flex-shrink: 0;
  }
  .partnior-2 {
    left: -7px;
    top: 322px;
  }
  .footer {
    flex-wrap: wrap;
    width: 426px;
    height: 378px;
  }
  .footer-end {
    flex-wrap: wrap;
    width: 426px;
    height: 160px;
  }
  .her5 {
    position: relative;
    bottom: 100px;
    left: 6px;
  }
  .her3 {
    position: relative;
    bottom: 99px;
    left: 0px;
  }
  .her4 {
    position: relative;
    bottom: 100px;
    left: 2px;
  }
  .hero-nav img {
    width: 249.63400000000001px;
    height: 166.564px;
  }
  .hero-text {
    width: 333px;
    height: 133px;
    flex-shrink: 0;
    left: -1px;
    top: 184px;
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  .jj {
    left: 297px;
    bottom: 13px;
  }
  .hkk {
    left: 296px;
    bottom: 19px;
    height: 40px;
    width: 88px;
  }
  .hero-nav img {
    width: 199.63400000000001px;
    height: 166.564px;
  }
  .hero-pp {
    left: 311px;
    top: 553px;
  }
  .about-text {
    top: 1px;
    left: 4px;
  }
  .about-text p {
    width: 388px;
    font-size: 15px;
  }
  .about-nav {
    top: 184px;
    left: -24px;
  }
  .i-img {
    width: 387px;
    height: 400px;
  }
  .i-img1 {
    left: 320px;
    width: 40px;
    height: 40px;
  }
  .tt {
    width: 388px;
    height: 379px;
    flex-shrink: 0;
  }
  .i-img2 {
    left: 319px;
  }
  .i-img3 {
    width: 389px;
    height: 400px;
  }
  .i-img4 {
    width: 390px;
    height: 400px;
  }
  .i-img5 {
    width: 386px;
    height: 400px;
  }
  .luxx {
    width: 377px;
    height: 565px;
  }
  .ll {
    flex-direction: column;
    top: 3952px;
    left: -1px;
  }
  .lux-text img {
    width: 356px;
    height: 76.036px;
  }
  .lki {
    width: 344px;
    height: 367px;
    padding-left: 29px;
  }
  .partnior {
    width: 361px;
    height: 583px;
  }
  .partnior-1 img {
    left: -8px;
    top: 322px;
    width: 383px;
    height: 209px;
    flex-shrink: 0;
  }
  .footer {
    flex-wrap: wrap;
    width: 377px;
    height: 378px;
  }
  .footer-end {
    flex-wrap: wrap;
    width: 379px;
    height: 160px;
  }
}
@media (max-width: 376px) {
  .jj {
    left: 268px;
    bottom: 13px;
  }
  .hkk {
    left: 268px;
    bottom: 19px;
    height: 40px;
    width: 88px;
  }
  .hero-nav img {
    width: 172.63400000000001px;
    height: 169.564px;
  }
  .hero-pp {
    left: 285px;
    top: 553px;
  }
  .about-text p {
    width: 352px;
    font-size: 15px;
  }
  .i-img {
    width: 364px;
    height: 400px;
  }
  .i-img1 {
    left: 299px;
    width: 40px;
    height: 40px;
  }
  .tt {
    width: 363px;
    height: 379px;
    flex-shrink: 0;
  }
  .i-img2 {
    left: 288px;
  }
  .i-img3 {
    width: 361px;
    height: 385px;
  }
  .i-img33 {
    position: absolute;
    left: 302px;
  }
  .i-img4 {
    width: 362px;
    height: 400px;
  }
  .i-img44 {
    position: absolute;
    left: 304px;
  }
  .i-img5 {
    width: 362px;
    height: 400px;
  }
  .luxx {
    width: 354px;
    height: 565px;
  }
  .lki {
    width: 335px;
    height: 367px;
    padding-left: 29px;
  }
  .partnior-text {
    position: absolute;
    top: 54px;
    margin-left: 2px;
  }
  .partnior-1 img {
    left: -8px;
    top: 322px;
    width: 362px;
    height: 209px;
    flex-shrink: 0;
  }
  .footer {
    flex-wrap: wrap;
    width: 353px;
    height: 378px;
  }
  .footer-end {
    flex-wrap: wrap;
    width: 353px;
    height: 160px;
  }
  .about-nav {
    top: 184px;
    left: -52px;
  }
}
@media (max-width: 320px) {
  .jj {
    left: 232px;
    bottom: 18px;
    height: 40px;
    width: 77px;
  }
  .hkk:hover {
    transform: translatey(80%);
    transition: 1.2s;
  }
  .hero-text button {
    padding: 10px;
    width: 109px;
    height: 34px;
    font-size: 8px;
  }
  .hkk {
    left: 237px;
    bottom: 23px;
    height: 33px;
    width: 67px;
  }
  .hero-nav img {
    width: 106.63400000000001px;
    height: 139.564px;
  }
  .hero-text {
    width: 284px;
    height: 133px;
    flex-shrink: 0;
    left: -1px;
    top: 184px;
    font-size: 13px;
  }
  .hero-nav2 img {
    width: 271.634px;
    height: 206.564px;
    flex-shrink: 0;
  }
  .hero-pp {
    left: 231px;
    top: 553px;
  }
  .about-text p {
    width: 288px;
    font-size: 13px;
  }

  .about-nav {
    flex-wrap: wrap;
    width: 362px;
    height: 287px;
    flex-shrink: 0;
  }
  .i-img {
    width: 308px;
    height: 400px;
  }
  .i-img1 {
    left: 243px;
    width: 40px;
    height: 40px;
  }
  .tt {
    width: 308px;
    height: 379px;
    flex-shrink: 0;
  }
  .i-img2 {
    left: 242px;
  }
  .i-img3 {
    width: 307px;
    height: 385px;
  }
  .i-img33 {
    position: absolute;
    left: 259px;
  }
  .i-img4 {
    width: 307px;
    height: 400px;
  }
  .i-img44 {
    position: absolute;
    left: 257px;
  }
  .i-img5 {
    width: 308px;
    height: 400px;
  }
  .i-img55 {
    left: 255px;
  }
  .luxx {
    width: 301px;
    height: 565px;
  }
  .ll {
    flex-direction: column;
    top: 3955px;
    left: -19px;
  }
  .lki {
    width: 271px;
    height: 367px;
    padding-left: 29px;
  }
  .lux-text img {
    width: 239px;
    height: 76.036px;
  }
  .lki {
    width: 307px;
    height: 367px;
    padding-left: 29px;
  }
  .partnior-1 img {
    width: 300px;
    height: 209px;
  }
  .partnior-2 img {
    width: 300px;
    height: 209px;
  }
  .partnior-2 {
    left: -7px;
    top: 349px;
  }
  .footer {
    flex-wrap: wrap;
    width: 301px;
    height: 581px;
  }
  .partnior {
    width: 294px;
    height: 583px;
  }
  .footer-end {
    flex-wrap: wrap;
    width: 301px;
    height: 160px;
  }
  .about-nav button {
    top: 364px;
    right: 83px;
    font-size: 14px;
    width: 133px;
    height: 41px;
  }
  .about-card p {
    width: 133px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
  }
  .about-card p {
    width: -25px;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
  }
}
