@media (max-width: 1440px) {
  .container {
    width: 95%;
    margin: 0 auto;
    border: 1px solid;
  }
  .header-img {
    display: none;
  }
  .header-img1 {
    display: none;
  }
  .bodhi-text {
    text-align: center;
  }
  .footer {
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .hero-nav {
    flex-direction: column;
  }
  .bodhi1 {
    flex-direction: column;
  }
  .hero-title {
    display: none;
  }
  .hero-chat {
    display: none;
  }
  .hero-nav {
    gap: 51px;
    top: 201px;
    left: 694px;
  }
  .hero-end {
    top: 450px;
    left: 725px;
    width: 312px;
    font-size: 12px;
  }
  .hero-text {
    font-size: 36px;
    top: 89px;
    left: 700px;
  }
  .header-img1 {
    position: absolute;
    top: 1px;
    left: 938px;
    right: 778px;
  }
  .header-img {
    top: 1px;
    right: 810px;
  }
  .luxx {
    width: 1140px;
    height: 511px;
  }
  .ll {
    top: 1587px;
    left: 33px;
    gap: 33px;
  }
  .footer {
    width: 1140px;
    height: 202px;
  }
  .footer-end {
    width: 1140px;
    height: 160px;
  }
  .footer-r h3 {
    width: 135px;
    height: 29px;
    font-size: 10px;
    padding: 0px 673px 0 0px;
  }
}
@media (max-width: 1024px) {
  .hero-text {
    font-size: 25px;
    top: 118px;
    left: 645px;
  }
  .header-img1 {
    top: 1px;
    left: 761px;
    right: 778px;
  }
  .hero-end {
    top: 381px;
    left: 653px;
    width: 322px;
    font-size: 12px;
  }
  .bodhi1 {
    flex-direction: column;
  }
  .ll {
    top: 1839px;
    left: 271px;
    gap: 33px;
    flex-direction: column;
  }
  .lux-text {
    width: 546px;
    height: 79px;
  }
  .luxx {
    width: 972px;
    height: 586px;
  }
  .footer {
    width: 971px;
    height: 202px;
  }
  .footer-end {
    width: 973px;
    height: 160px;
  }
  .footer-r h3 {
    width: 135px;
    height: 29px;
    font-size: 10px;
    padding: 0px 554px 0 0px;
  }
  .header-img {
    top: 1px;
    right: 636px;
  }
  .header-svg {
    display: none;
  }
  .header-titl {
    display: none;
  }
}
@media (max-width: 992px) {
  .header-img {
    top: 1px;
    right: 603px;
  }
  .header-img1 {
    top: 1px;
    left: 728px;
    right: 778px;
  }
  .luxx {
    width: 942px;
    height: 586px;
  }
  .footer {
    width: 942px;
    height: 202px;
  }
  .footer-end {
    flex-wrap: wrap;
    width: 943px;
    height: 160px;
  }
  .hero-end {
    top: 381px;
    left: 653px;
    width: 322px;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .img {
    width: 410px;
    height: 673.999px;
  }
  .luxx {
    width: 730px;
    height: 586px;
  }
  .hero-text {
    font-size: 25px;
    top: 143px;
    left: 440px;
  }
  .hero-nav {
    top: 224px;
    left: 422px;
  }
  .hero-end {
    top: 405px;
    left: 440px;
    width: 312px;
    font-size: 12px;
  }
  .header-img {
    top: 1px;
    right: 380px;
  }
  .header-imgt {
    bottom: 448px;
    right: 339px;
  }
  .header-img1 {
    top: 1px;
    left: 509px;
    right: 778px;
  }
  .header a {
    display: none;
  }
  .hero3d {
    display: none;
  }
  .bodhi-img1 {
    width: 670px;
    height: 353px;
  }
  .ll {
    top: 1633px;
    left: 104px;
    gap: 33px;
  }
  .footer {
    flex-direction: column;
    width: 730px;
    height: 574px;
  }
  .footer-end {
    flex-wrap: wrap;
    width: 732px;
    height: 160px;
  }
  .footer-r h3 {
    width: 135px;
    height: 29px;
    font-size: 10px;
    padding: 0px 370px 0 0px;
  }
}
@media (max-width: 576px) {
  .header-img {
    top: 1px;
    right: 172px;
  }
  .header-img1 {
    top: 1px;
    left: 203px;
    right: 778px;
  }
  .img {
    width: 312px;
    height: 602.999px;
  }
  .hero-text {
    font-size: 16px;
    top: 145px;
    left: 340px;
  }
  .hero-nav {
    top: 197px;
    left: 322px;
  }
  .hero-end {
    top: 385px;
    left: 333px;
    width: 229px;
    font-size: 9px;
  }
  .hero2 {
    padding: 11px;
  }
  .bodhi-img1 {
    width: 545px;
    height: 353px;
  }
  .lux-text {
    width: 394px;
    height: 63px;
  }
  .ll {
    top: 1633px;
    left: 44px;
    gap: 33px;
  }
  .footer {
    flex-direction: column;
    width: 546px;
    height: 560px;
  }
  .footer-r h3 {
    width: 135px;
    height: 29px;
    font-size: 10px;
    padding: 0px 128px 0 0px;
  }
  .footer-end {
    flex-wrap: wrap;
    width: 546px;
    height: 160px;
  }
  .header-imgt {
    bottom: 448px;
    right: 340px;
  }
  .luxx {
    width: 547px;
    height: 586px;
  }
}
@media (max-width: 451px) {
  .header-img {
    top: 1px;
    right: 58px;
  }
  .header-img1 {
    top: 1px;
    left: 203px;
    right: 778px;
  }
  .img {
    width: 241px;
    height: 602.999px;
  }
  .hero-text {
    font-size: 11px;
    top: 145px;
    left: 256px;
  }
  .hero-nav {
    top: 190px;
    left: 254px;
  }
  .hero-end {
    top: 423px;
    left: 266px;
    width: 165px;
    font-size: 8px;
  }

  .bodhi-text h4 {
    font-size: 17px;
    padding: 20px;
  }
  .bodhi-text p {
    font-size: 13px;
  }
  .bodhi-img1 {
    width: 424px;
    height: 283px;
  }
  .luxx {
    width: 427px;
    height: 616px;
  }
  .ll {
    top: 1572px;
    left: 22px;
    gap: 33px;
  }
  .lux-text {
    width: 297px;
    height: 59px;
  }
  .lki {
    width: 324px;
    height: 377px;
    padding-left: 40px;
  }
  .liu h2 {
    font-size: 20px;
    padding: 18px 0 24px 0;
  }
  .lk {
    width: 175px;
    height: 48px;
  }
  .lkk {
    width: 186px;
    height: 53px;
    margin: 20px 0;
  }
  .lo button {
    width: 150px;
    height: 45px;
    font-size: 12px;
  }
  .footer {
    flex-direction: column;
    width: 428px;
    height: 560px;
  }
  .footer-end {
    flex-wrap: wrap;
    width: 428px;
    height: 160px;
  }
  .footer-r h3 {
    width: 131px;
    height: 29px;
    font-size: 10px;
    padding: 0px 51px 0 0px;
  }
}
@media (max-width: 400px) {
  .img {
    width: 220px;
    height: 602.999px;
  }
  .hero-text {
    font-size: 11px;
    top: 101px;
    left: 236px;
  }
  .hero-nav {
    top: 141px;
    left: 232px;
  }
  .hero-end {
    top: 381px;
    left: 239px;
    width: 150px;
    font-size: 8px;
  }
  .bodhi-img1 {
    width: 380px;
    height: 232px;
  }
  .luxx {
    width: 380px;
    height: 616px;
  }
  .ll {
    top: 1470px;
    left: 18px;
    gap: 33px;
  }
  .footer {
    flex-direction: column;
    width: 381px;
    height: 560px;
  }
  .footer-end {
    flex-wrap: wrap;
    width: 381px;
    height: 160px;
  }
  .footer-r h3 {
    width: 123px;
    height: 24px;
    font-size: 9px;
    padding: 0px 27px 0 0px;
  }
  .footer-u p {
    font-size: 12px;
    width: 197px;
    height: 28px;
  }
}
@media (max-width: 376px) {
  .img {
    width: 189px;
    height: 602.999px;
  }
  .hero-nav {
    top: 141px;
    left: 194px;
  }
  .hero-text {
    font-size: 11px;
    top: 101px;
    left: 210px;
  }
  .hero-end {
    top: 374px;
    left: 202px;
    width: 150px;
    font-size: 8px;
  }
  .bodhu-t {
    padding: 16px 0 13px 0;
  }
  .bodhi-text h4 {
    font-size: 17px;
    padding: 20px;
  }
  .bodhi-text p {
    font-size: 12px;
  }
  .bodhi-img1 {
    width: 356px;
    height: 232px;
  }
  .luxx {
    width: 357px;
    height: 567px;
  }
  .ll {
    top: 1414px;
    left: 3px;
    gap: 33px;
  }
  .lux-text {
    width: 266px;
    height: 59px;
  }
  .lki {
    width: 312px;
    height: 377px;
    padding-left: 38px;
  }
  .lki {
    width: 287px;
    height: 355px;
    padding-left: 43px;
  }
  .footer {
    flex-direction: column;
    width: 356px;
    height: 560px;
  }
  .footer-end {
    flex-wrap: wrap;
    width: 356px;
    height: 160px;
  }
  .jj {
    height: 41px;
    width: 80px;
  }
  .hkk {
    height: 35px;
    width: 69px;
  }
  .bodhu-t {
    padding: 16px 0 13px 0;
  }
}
@media (max-width: 320px) {
  .img {
    width: 163px;
    height: 475.999px;
  }
  .hero-text {
    font-size: 8px;
    top: 101px;
    left: 178px;
  }
  .hero-nav {
    top: 141px;
    left: 154px;
  }
  .hero1 h5 {
    font-size: 10px;
    width: 200px;
  }
  .hero-nav h2 {
    font-size: 12px;
    margin-left: 50px;
  }
  .hero-end {
    top: 277px;
    left: 175px;
    width: 150px;
    font-size: 7px;
  }
  .bodhi-img1 {
    width: 304px;
    height: 232px;
  }
  .luxx {
    width: 305px;
    height: 567px;
  }
  .ll {
    top: 1281px;
    left: 7px;
    gap: 33px;
  }
  .lki {
    width: 256px;
    height: 355px;
    padding-left: 39px;
  }

  .footer {
    flex-direction: column;
    width: 303px;
    height: 648px;
  }
  .footer-end {
    flex-wrap: wrap;
    width: 305px;
    height: 133px;
  }
  .footer-r h3 {
    width: 116px;
    height: 24px;
    font-size: 9px;
    padding: 0px 1px 0 0px;
  }
  .hero-nav svg {
    display: none;
  }
  .hero-end {
    top: 277px;
    left: 174px;
    width: 113px;
    font-size: 7px;
  }

  .hero-end {
    top: 277px;
    left: 174px;
    width: 113px;
    font-size: 7px;
  }
  .hero1 h5 {
    font-size: 10px;
    width: 116px;
  }
  .he-img {
    width: 150px;
    height: 15.629px;
    left: 10px;
  }
}
