* {
  margin: 0px;
  padding: 0px;
}
.contaner {
  width: 95%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
body {
  font-family: "Raleway" sans-serif;
  border: solid 3px;
}

button {
  border: none;
  cursor: pointer;
}

#header {
  width: 100%;
  background: transparent;
  position: fixed;
  backdrop-filter: blur(10px);
  z-index: 99;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-a a {
  color: #253659;
  font-size: 14px;
  font-weight: 500;
  margin: 0 10px;
}

.jj {
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
  position: absolute;
  cursor: pointer;
  left: 200px;
  bottom: 10px;
}

.hkk {
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
  position: absolute;
  left: 200px;
  bottom: 10px;
  cursor: pointer;
  border-radius: 36px;
  text-align: center;
  height: 40px;
  width: 88px;
  color: white;
  z-index: 99;
  transition: 1.2s;
  background: url(./img/Baytik_poselok_View010004.png);
}

.jj {
  height: 50px;
  width: 88px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1529044728228-9917df974897?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  color: white;
  box-shadow: 3px 3px 30px #aaa;
}

.hkk:hover {
  transform: translateX(-80%);
  transition: 1.2s;
}
#hero {
  background: url(./img/Baytik_poselok_View02.png) no-repeat center/cover;
  height: 100vh;
  background-color: #abcbe1;
  position: relative;
}
.hero-nav {
  position: absolute;
  left: 600px;
  bottom: 390px;
}
.hero-nav2 {
  position: absolute;
  left: 100px;
  top: 100px;
}
.hero-text {
  position: absolute;
  left: 80px;
  top: 100px;
  color: #253659;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 1;
}
.hero-text button {
  padding: 10px;
  width: 200px;
  height: 60px;
  background: rgba(37, 54, 89, 0.8);
  backdrop-filter: blur(5px);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.4px;
}
.hero-tt {
  position: absolute;
  width: 240px;
  height: 300px;
  left: 6px;
  top: 1px;
}
.hero-pp {
  position: absolute;
  left: 100px;
  top: 200px;
}
.hero-rr {
  position: absolute;
  z-index: 1;
  top: 300px;
  right: 602px;
  width: 600px;
  height: 380px;
}

#about {
  background: url(./img/Baytik_poselok_View020000.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.about-nav {
  width: 1000px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-nav {
  position: absolute;
  top: 340px;
  left: 100px;
}
.about-text {
  position: absolute;
  top: 146px;
  left: 172px;
}
.about-text h1 {
  color: #253659;
  font-size: 36px;
  font-weight: 600;
}
.about-card {
  background: rgba(37, 54, 89, 0.8);
  backdrop-filter: blur(2px);
}
.about-text p {
  width: 884px;
  color: #253659;
  font-size: 18px;
  font-weight: 400;
}
.about-card {
  margin: 50px;
}
.about-card img {
  padding: 20px;
}
.about-card p {
  width: 160px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.about-nav button {
  position: absolute;
  bottom: 219px;
  right: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  width: 157px;
  height: 56px;
  background: #253659cc;
}
.client {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #fff;
}
.client-text h1 {
  width: 200px;
  color: #253659;
  font-size: 36px;
  font-weight: 600;
}
.client-title p {
  color: #253659;
  font-size: 14px;
  font-weight: 600;
  width: 138px;
}
.hero-card {
  position: relative;
}
.her {
  position: absolute;
  bottom: 70px;
  left: 20px;
}
.img-bloc {
  display: flex;
  align-items: center;
}
.img-blocs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.i-img {
  position: relative;
  width: 723px;
  height: 400px;
}
.img-text {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 10px 0 0 0;
}
.img-text1 {
  display: flex;
  align-items: center;
  position: absolute;
  top: 60px;
}
.her2 {
  position: absolute;
  top: 300px;
  left: 20px;
}
.i-img2 {
  position: absolute;
  left: 390px;
}
.i-img1 {
  position: absolute;
  left: 660px;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.i-img3 {
  width: 400px;
  height: 400px;
  flex-shrink: 0;
}
.hero-cardd {
  position: relative;
}
.her3 {
  position: relative;
  bottom: 99px;
  left: 20px;
}

.her4 {
  position: relative;
  bottom: 100px;
  left: 20px;
}
.her5 {
  position: relative;
  bottom: 100px;
  left: 20px;
}
.i-img4 {
  width: 400px;
  height: 400px;
}
.i-img5 {
  width: 402px;
  height: 400px;
}
.img-text h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2.4px;
  margin: 0 10px;
}
.img-text h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2.4px;
  margin: 0 10px;
}
.img-text h4 {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.4px;
}
.her h1 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.8px;
}
.her2 h1 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.8px;
}
.her3 h1 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.8px;
}
.her4 h1 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.8px;
}
.her5 h1 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%; /* 25.2px */
  letter-spacing: 1.8px;
}
.i-img33 {
  position: absolute;
  left: 300px;
}
.i-img44 {
  position: absolute;
  left: 300px;
}
.i-img55 {
  position: absolute;
  left: 330px;
}

.luxx {
  position: relative;
  width: 1173px;
  height: 500px;
  flex-shrink: 0;
}
.ll {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  top: 2260px;
  left: 60px;
}
.lki {
  width: 380px;
  height: 367px;
  background: rgba(37, 54, 89, 0.8);
  backdrop-filter: blur(2px);
  padding-left: 20px;
}

#uson {
  background: none;
  border: none;
  padding: 20px 0 0 20px;
}

#uson2 {
  background: transparent;
  border: none;
  padding: 20px 0 0 20px;
}

.liu h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 140%; /* 33.6px */
  letter-spacing: 2.4px;
  padding: 40px 0 30px 0;
}
.lk {
  width: 300px;
  height: 60px;
  border: 1px solid #fff;
}
.lk input {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.4px;
}
.lkk input {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.4px;
}
.lkk {
  width: 300px;
  height: 60px;
  border: 1px solid #fff;
  margin: 20px 0;
}
.lo button {
  width: 217px;
  height: 60px;
  background: #fff;
  color: #253659;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.8px;
  align-items: center;
}
.partnior {
  position: relative;
  width: 1170px;
  height: 260px;
}
.partnior-1 {
  position: absolute;
  left: 690px;
}
.partnior-2 {
  position: absolute;
  left: 621px;
}
.partnior-text {
  position: absolute;
  top: 54px;
  margin-left: 10px;
}
.partnior-text h1 {
  color: #253659;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 3.6px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #253659;
  width: 1173px;
  height: 202px;
  flex-shrink: 0;
}
.footer-text svg {
  width: 203px;
  height: 30px;
  fill: #fff;
}
.footer-text p {
  width: 214px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  padding: 10px;
}
.footer-meniy {
  flex-direction: column;
}
.footer-meniy h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.footer-meniy h3 {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin: 10px;
}
.footer-contac h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.footer-contac h5 {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin: 10px;
}
.footer-nav h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.footer-nav svg {
  width: 210px;
  height: 74px;
  margin: 10px;
}
.footer-t h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.footer-t p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  width: 255px;
}
.footer-end {
  display: flex;
  align-items: center;
  justify-content: space-around;
  stroke-width: 0.5px;
  stroke: #e9e3e3;
  background: #253659;
  width: 1173px;
  height: 160px;
}
.footer-r h3 {
  width: 135px;
  height: 29px;
  color: #fff;
  font-size: 10px;
}
.footer-u p {
  color: #009ee3;
  font-size: 13px;
  font-weight: 400;
  width: 197px;
  height: 28px;
}
.footer-u span {
  color: #f9f8f8;
  font-size: 10px;
  font-weight: 400;
}
/* :first-child */
/* :nth-child(2) */
/* :nth-child(3) */
/* :nth-child(odd) --> так */
/* :nth-child(even) --> жуп */
/* :last-child */
.heroo img {
  position: relative;
  width: 1140px;
  height: 700px;
  flex-shrink: 0;
}

.hero-t {
  position: absolute;
  top: 393px;
  left: 422px;
}
.hero-t svg {
  position: absolute;
  top: 107px;
  left: 288px;
}
.complex {
  text-align: center;
  align-items: center;
}
.complex h1 {
  color: #253659;
  font-size: 36px;
  font-weight: 600;
}
.complex p {
  color: #253659;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  width: 963px;
  margin-left: 208px;
  padding: 20px;
}
.locatsia {
  display: flex;
}
.locatsia-text h1 {
  color: #253659;
  font-size: 36px;
  font-weight: 600;
}
.locatsia-text p {
  width: 430px;
  color: #253659;
  font-size: 18px;
  font-weight: 400;
}

.footera button {
  cursor: pointer;
  width: 122px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: -10.875em;
  font-weight: 800;
  letter-spacing: 0px;
  color: #f2eeee;
  background: #009ee3;
  border-radius: 0.75rem;
  box-shadow: 0 8px 0 #009ee3;
  transform: skew(-10deg);
  transition: all 0.1s ease;
  filter: drop-shadow(0 15px 20px #654dff);
}
.footera button:active {
  letter-spacing: 0px;
  transform: skew(-10deg) translate(8px);
  box-shadow: 0 0 0 #654dff63;
}
